<mat-card class="cardWithShadow">
  <div class="m-t-6 " >
    <button mat-flat-button color="primary" class="m-r-8  pull-right" style="float:right"  (click)="openPopup()">Add Test</button>
  </div>

    <mat-card-content>
      
      <mat-card-title>Test List</mat-card-title>
    
  
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource1" matSort class="w-100">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  class="f-w-600 f-s-14 p-l-0">
              Sr. No.
            </th>
            <td mat-cell *matCellDef="let element" class="p-l-0">
                <div class="m-l-16">
                  <h6 class="f-s-14 f-w-600">
                    {{ element.id }}
                  </h6>
                </div>
              </td>
          </ng-container>
          <ng-container matColumnDef="f-id">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
              <mat-form-field>
                <input matInput (keyup)="filterChangeEvent('id', $event)">
              </mat-form-field>
            </th>
          </ng-container>
          <!-- Position Column -->
          <ng-container matColumnDef="testName">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header  class="f-w-600 f-s-14 p-l-0">
              Test Name
            </th>
            <td mat-cell *matCellDef="let element" class="p-l-0">
                <div class="m-l-16">
                  <h6 class="f-s-14 f-w-600">
                    {{ element.testName }}
                  </h6>
                </div>
              </td>
          </ng-container>
          <ng-container matColumnDef="f-testName">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
              <mat-form-field>
                <input matInput (keyup)="filterChangeEvent('testName', $event)">
              </mat-form-field>
            </th>
          </ng-container>
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  class="f-w-600 f-s-14 p-l-0">
             Price
            </th>
            <td mat-cell *matCellDef="let element" class="p-l-0">
                <div class="m-l-16">
                  <h6 class="f-s-14 f-w-600">
                    {{ element.price }}
                  </h6>
                </div>
              </td>
          </ng-container>
          <ng-container matColumnDef="f-price">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
              <mat-form-field>
                <input matInput (keyup)="filterChangeEvent('price', $event)">
              </mat-form-field>
            </th>
          </ng-container>
          <ng-container matColumnDef="testCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 f-s-14 p-l-0">
              Test Code
            </th>
            <td mat-cell *matCellDef="let element" class="p-l-0">
                <div class="m-l-16">
                  <h6 class="f-s-14 f-w-600">
                    {{ element.testCode }}
                  </h6>
                </div>
              </td>
          </ng-container>
          <ng-container matColumnDef="f-testCode">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
              <mat-form-field>
                <input matInput (keyup)="filterChangeEvent('testCode', $event)">
              </mat-form-field>
            </th>
          </ng-container>
          <ng-container matColumnDef="testType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  class="f-w-600 f-s-14 p-l-0">
              Test Type
            </th>
            <td mat-cell *matCellDef="let element" class="p-l-0">
                <div class="m-l-16">
                  <h6 class="f-s-14 f-w-600">
                    {{ element.testType }}
                  </h6>
                </div>
              </td>
          </ng-container>
          <ng-container matColumnDef="f-testType">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
              <mat-form-field>
                <input matInput (keyup)="filterChangeEvent('testType', $event)">
              </mat-form-field>
            </th>
          </ng-container>
          <ng-container matColumnDef="outsourcingCenter">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  class="f-w-600 f-s-14 p-l-0">
              Outsourcing Center
            </th>
            <td mat-cell *matCellDef="let element" class="p-l-0">
                <div class="m-l-16">
                  <h6 class="f-s-14 f-w-600">
                    {{ element.outsourcingCenter }}
                  </h6>
                </div>
              </td>
          </ng-container>
          <ng-container matColumnDef="f-outsourcingCenter">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
              <mat-form-field>
                <input matInput (keyup)="filterChangeEvent('outsourcingCenter', $event)">
              </mat-form-field>
            </th>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="budget">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Actions</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="routeToAddReport()">
                  <mat-icon>file_copy</mat-icon>
                  <span>Add Report</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsFilter"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5,10,25,100]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>

  